<div class=x_centered>
  <mat-card
    style="width: 600px;"
    class="mat-elevation-z0"
  >
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <a [routerLink]="['/register']">Create an account</a>
      <p *ngIf="this.failed" class="warning">
        Login failed. Either Email or Password is incorrect.
      </p>
      <mat-vertical-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="emailForm">
          <form [formGroup]="emailForm">
            <ng-template matStepLabel>Fill in your email</ng-template>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input
                type="email"
                matInput
                placeholder="Email"
                formControlName="email"
                required
              />
              <button
                mat-icon-button
                matSuffix
                [disabled]="emailForm.invalid"
                matStepperNext
              >
                <mat-icon>arrow_forward</mat-icon>
              </button>
            </mat-form-field>
          </form>
        </mat-step>
        <mat-step [stepControl]="passwordForm">
          <form [formGroup]="passwordForm">
            <ng-template matStepLabel>Fill in your password</ng-template>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input
                type="password"
                matInput
                placeholder="Password"
                formControlName="password"
                required
              />
              <button
                mat-icon-button
                matSuffix
                [disabled]="passwordForm.invalid"
                (click)="login()"
              >
                <mat-icon>done</mat-icon>
              </button>
            </mat-form-field>
          </form>
        </mat-step>
      </mat-vertical-stepper>
    </mat-card-content>
  </mat-card>
</div>