<div class="x_centered">
  <mat-card style="width: 600px" class="mat-elevation-z0">
    <mat-card-title>Register</mat-card-title>
    <mat-card-content>
      <div id=stuff_at_the_top>
        <a [routerLink]="['/login']">I already have an account</a>
        <p *ngIf="this.failed" class="warning">Register failed.</p>
        <p *ngIf="this.invalidForm" class="warning">Invalid form.</p>
        <p *ngIf="this.passMatch" class="warning">Passwords do not match.</p>
      </div>
      <form [formGroup]="registerForm">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input
            type="text"
            matInput
            placeholder="First Name"
            formControlName="firstName"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input
            type="text"
            matInput
            placeholder="Last Name"
            formControlName="lastName"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            placeholder="Email"
            formControlName="email"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            placeholder="Password"
            formControlName="password"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input
            type="password"
            matInput
            placeholder="Confirm Password"
            formControlName="confirmPassword"
            required
          />
        </mat-form-field>
      </form>
      <button mat-button (click)="register()" style="float: right;" [disabled]="registerForm.invalid">Register</button>
    </mat-card-content>
  </mat-card>
</div>
